@font-face {
    font-family: Roboto;
    font-weight: regular;
    src: url("/font/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-weight: bold;
    src: url("/font/roboto/Roboto-Bold.ttf");
}

.root {
    -fx-background-color: transparent;
    -primary: #6200EE;
    -primary-variant: #3700B3;
    -secondary: #03DAC6;
    -secondary-variant: #018786;
    -danger: #C51162;
}

.jfx-button {
    -fx-cursor: HAND;
}

.jfx-tab-pane {
    -fx-tab-max-height: 0;
}

.jfx-tab-pane .jfx-tab-header-area {
    visibility: hidden;
}

.hyperlink {
    -fx-text-fill: -primary;
}

.hyperlink:visited {
    -fx-text-fill: -primary-variant;
}

.jfx-text-field:error {
    -jfx-focus-color: -danger;
    -jfx-unfocus-color: -danger;
}

.jfx-text-field .error-label {
    -fx-text-fill: -danger;
}

.jfx-text-field .error-icon {
    -fx-fill: -danger;
}

.field-primary {
    -jfx-focus-color: -primary-variant;
}

.field-secondary {
    -jfx-focus-color: -secondary-variant;
}

.bg-primary, .btn-primary {
    -fx-background-color: -primary;
}

.bg-primary-variant {
    -fx-background-color: -primary-variant;
}

.bg-secondary, .btn-secondary {
    -fx-background-color: -secondary;
}

.bg-secondary-variant {
    -fx-background-color: -secondary-variant;
}

.bg-danger, .btn-danger {
    -fx-background-color: -danger;
}

.bg-primary *, .bg-primary-variant *, .bg-danger *, .btn-primary, .btn-primary > *, .btn-danger, .btn-danger > *  {
    -fx-text-fill: white;
    -fx-fill: white;
}

.bg-secondary *, .bg-secondary-variant *, .btn-secondary, .btn-secondary > * {
    -fx-text-fill: black;
    -fx-fill: black;
}

.btn-text-primary, .btn-text-secondary, .btn-text-danger, .btn-outline-primary, .btn-outline-secondary, .btn-outline-danger {
    -jfx-button-type: FLAT;
}

.btn-primary, .btn-secondary, .btn-danger {
    -jfx-button-type: RAISED;
}

.btn-outline-primary, .btn-outline-secondary, .btn-outline-danger {
    -fx-border-radius: 5px;
}

.btn-text-primary, .btn-outline-primary{
    -fx-text-fill: -primary-variant;
}

.btn-text-primary > *, .btn-outline-primary > * {
    -fx-fill: -primary-variant;
}

.btn-text-secondary, .btn-outline-secondary {
    -fx-text-fill: -secondary-variant;
}

.btn-text-secondary > *, .btn-outline-secondary > * {
    -fx-fill: -secondary-variant;
}

.btn-text-danger, .btn-outline-danger {
    -fx-text-fill: -danger;
}

.btn-text-danger > *, .btn-outline-danger > * {
    -fx-fill: -danger;
}

.btn-outline-primary {
    -fx-border-color: -primary-variant;
}

.btn-outline-secondary {
    -fx-border-color: -secondary-variant;
}

.btn-outline-danger {
    -fx-border-color: -danger;
}